---
name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request: ~

permissions:
  contents: read

## Concurrency only allowed in the main branch.
## So old builds running for old commits within the same Pull Request are cancelled
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Check
        run: .ci/check.sh

  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.24', '1.25']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
          cache-dependency-path: '**/go.sum'

      - name: Test
        run: .ci/test.sh
        env:
          GO_VERSION: ${{ matrix.go-version }}

      - name: Store test results
        if: success() || failure()
        uses: actions/upload-artifact@v7
        with:
          name: test-results-${{ matrix.go-version }}
          path: build/junit*.xml

  # This job is here to have a single status check that can be set as required.
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idneeds
  # If a run contains a series of jobs that need each other, a failure applies to all jobs in the dependency chain from the point of failure onwards.
  all:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - test
      - check
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
